.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: relative;
  margin: 16px;
  
}

.image-container {
  position: relative;
  width: 100%;
  height: 200px;
}

.description {
  text-overflow: ellipsis;
  overflow: hidden;
}