:root {
  --primary-color: #1F3643;
  --font-light-color: #F1E6E9;
  --font-dark-color: #130308;

  --secondary-color: #5B2E48;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0 !important;
  height: 100%;
  color: var(--font-dark-color)
}
